.board {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 10px;
    top: 30px;
    left: 30px;
}
.configuration{
    height: 300px;
    width:300px;
    position: relative;
    margin: 10px;
}
.square {
    height: 6.66%;
    width: 6.66%;
    float: left;
    text-align: center;
}
.square-with-border {
    height: 6.66%;
    width: 6.66%;
    float: left;
    border: 1px solid gray;
    text-align: center;
}
.red{
    background-color: #ED1C22;
}
.green{
    background-color: #02A049;
}
.yellow{
    background-color: #FFDE17;
}
.blue{
    background-color: #23A2F1;
}
.white{
    background-color: white;
}
.final{
    background-color: #420570;
}
.winner-home{
    position: absolute;
    font-weight: bold;
}
.winner-home-1{
    top:73%;
    left:18%;
}
.winner-home-2{
    top:12%;
    left:18%;
}
.winner-home-3{
    top:12%;
    left:77%;
}
.winner-home-4{
    top:73%;
    left:77%;
}
.game-over{
    height: 100%;
    width: 100%;
    top:0%;
    left:0%;
    position: absolute;
    opacity: 0.5;
    font-size: 50px;
    padding-left: 32%;
    font-weight: 900;
    color:#5b0080;
}
.disabled {
    cursor: not-allowed;
}
.spinner{
    position: absolute;
    font-weight: bold;
}
.spinner-1{
    background-color: #23A2F1;
    top:93%;
    left:-5%;
}
.spinner-2{
    background-color: #ED1C22;
    top:-5%;
    left:-5%;
}
.spinner-3{
    background-color: #02A049;
    top:-5%;
    left:93%;
}
.spinner-4{
    background-color: #FFDE17;
    top:93%;
    left:93%;
}
/* You can add global styles to this file, and also import other style files */
.icon {
    position: absolute;  
    font-weight: bold;
}
.red-icon{
    color: #920F0A;
}
.green-icon{
    color: #0F6935;
}
.yellow-icon{
    color: #D1C215;
}
.blue-icon{
    color: #2633A3;
}
.move-indicator{
    color: white;
}
.hide{
    display: none;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #1267ab;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.play-btn{
    background-color: #5b0080;
    color:#fff;
    border-radius:0!important;
    width: 100%;
}
.replay-btn{
    background-color: #5b0080;
    color:#fff;
    border-radius:0!important;
    width: 100%;
    top: 115%;
    position: absolute;
    left: 0;
}